Repository RedHatInsights/pendo-config-automation, pull requests merged in 2021-12, with the labels that each got.

#132 add action to update files
  .github/workflows/unmerger.yml
  addUnmerged.py
  addUnmerged.sh
  main.py
  unmerged.yml
Labels: logic

#114 Updating pendo config with OUIA attributes where possible
  data/advisor.yml
  data/ansible.yml
  data/compliance.yml
  data/crc.yml
  data/drift.yml
  data/openshift.yml
  data/patch.yml
  data/rbac.yml
  data/subscription-watch.yml
  data/vulnerability.yml
Labels: data, ansible, advisor, compliance, crc, drift, openshift, patch, rbac, subscription-watch, vulnerability

#140 test pr
  data/rhel.yml
Labels: data, rhel

#141 Test pr from fork
  data/rhel.yml
Labels: data, rhel

#142 Adds ROSA pages
  data/openshift.yml
Labels: data, openshift
