Repository RedHatInsights/pendo-config-automation, pull requests merged in 2021-11, with the labels that each got.

#128 update docs
  docs/data.md
  docs/developing.md
  scrub.py
Labels: documentation, logic, repo

#129 remove skip list
  .github/labeler.yml
  docs/developing.md
  main.py
Labels: documentation, logic

#130 remove pre summit stuff
  data/cost-management.yml
  data/openshift.yml
  data/subscription-watch.yml
  stash/cost-management_stash.yml
  stash/subscription-watch_stash.yml
Labels: stash, data, cost-management, openshift, subscription-watch

#131 Allowing multiple -a options
  docs/developing.md
  main.py
Labels: documentation, logic
