Repository RedHatInsights/pendo-config-automation, pull requests merged in 2022-01, with the labels that each got.

#143 Update vulnerability.yml
  data/vulnerability.yml
Labels: data, vulnerability

#144 Update automation-hub.yml
  data/automation-hub.yml
Labels: data, automation-hub

#146 Update automation-analytics.yml
  data/automation-analytics.yml
Labels: data, automation-analytics

#145 Update automation-services-catalog.yml
  data/automation-services-catalog.yml
Labels: data, automation-services-catalog

#148 add Advisor for OpenShift
  data/insights-for-openshift.yml
Labels: data, insights-for-openshift

#147 Add Pages for missing Notifications bundles
  data/settings.yml
Labels: data, settings

#149 Limit tracking in Advisor for OpenShift
  data/openshift.yml
Labels: data, openshift

#150 Update subscription-watch.yml
  data/subscription-watch.yml
Labels: data, subscription-watch

#151 Update crc.yml
  data/crc.yml
Labels: data, crc
