Repository RedHatInsights/pendo-config-automation, pull requests merged in 2022-05, with the labels that each got.

#167 Add splunk-setup page under Integrations
  data/settings.yml
Labels: data, settings

#171 Update fleet-management.yml
  data/fleet-management.yml
Labels: data, fleet-management

#170 rename dashboard, add edge pages
  data/edge-management.yml
  data/insights.yml
  data/main.yml
Labels: data, insights
