Repository RedHatInsights/pendo-config-automation, pull requests merged in 2022-09, with the labels that each got.

#177 update aa urls
  data/automation-analytics.yml
Labels: data, automation-analytics

#178 Update openshift.yml
  data/openshift.yml
Labels: data, openshift

#179 Update insights-for-openshift.yml
  data/insights-for-openshift.yml
Labels: data, insights-for-openshift

#180 Add missing pages to Insights for OCP All pages
  data/insights-for-openshift.yml
Labels: data, insights-for-openshift

#181 Update acs.yml
  data/acs.yml
Labels: data
