Repository RedHatInsights/pendo-config-automation, pull requests merged in 2022-04, with the labels that each got.

#156 Update openshift.yml
  data/openshift.yml
Labels: data, openshift

#158 Update dashboard.yml
  data/dashboard.yml
Labels: data, dashboard

#159 Update vulnerability.yml
  data/vulnerability.yml
Labels: data, vulnerability

#160 MGMT-9600: Add an OUIA selector to vSphere integration KB link
  data/openshift.yml
Labels: data, openshift

#161 Add Image Builder
  data/image-builder.yml
  data/main.yml
  mapping/bundle_to_groups.yml
Labels: data

#162 Update app-srvs-connectors.yml
  data/app-srvs-connectors.yml
Labels: data

#163 Update advisor.yml
  data/advisor.yml
Labels: data, advisor

#165 add api docs
  data/api-docs.yml
  data/main.yml
Labels: data
