Repository RedHatInsights/pendo-config-automation, pull requests merged in 2023-04, with the labels that each got.

#200 Update and rename ros to ros.yml
  data/ros.yml
Labels: data

#201 Update insights.yml
  data/insights.yml
Labels: data, insights

#203 Update vulnerability.yml
  data/vulnerability.yml
Labels: data, vulnerability

#205 Rename toolkit to toolkit.yml
  data/toolkit.yml
Labels: data

#204 Update main.yml
  data/main.yml
Labels: data

#206 Update dashboard.yml
  data/dashboard.yml
Labels: data, dashboard

#207 Update advisor.yml
  data/advisor.yml
Labels: data, advisor

#220 pendo-config-automation update for CRC
  data/crc.yml
Labels: data, crc

#211 Update toolkit.yml
  data/toolkit.yml
Labels: data

#212 Update dashboard.yml
  data/dashboard.yml
Labels: data, dashboard

#213 Update advisor.yml
  data/advisor.yml
Labels: data, advisor

#215 Update compliance.yml
  data/compliance.yml
Labels: data, compliance

#217 Update subscriptions.yml
  data/subscriptions.yml
Labels: data

#218 Update ros.yml
  data/ros.yml
Labels: data

#221 Update patch.yml
  data/patch.yml
Labels: data, patch

#222 Update policies.yml
  data/policies.yml
Labels: data, policies

#224 feat(pendo): Add Tasks to pendo
  data/main.yml
  data/tasks.yml
Labels: data

#225 Update insights.yml
  data/insights.yml
Labels: data, insights

#226 Update vulnerability.yml
  data/vulnerability.yml
Labels: data, vulnerability

#208 Update compliance.yml
  data/compliance.yml
Labels: data, compliance
