Repository RedHatInsights/pendo-config-automation, pull requests merged in 2023-03, with the labels that each got.

#188 Update compliance.yml
  data/compliance.yml
Labels: data, compliance

#189 Update advisor.yml
  data/advisor.yml
Labels: data, advisor

#190 Update patch.yml
  data/patch.yml
Labels: data, patch

#187 Tracking for Agent-based installer interactions and others
  data/openshift.yml
Labels: data, openshift

#191 Update insights.yml
  data/insights.yml
Labels: data, insights

#192 MGMT-11003 - Tracking milestones of interest in Pendo (Create cluster, Install cluster)
  data/openshift.yml
Labels: data, openshift

#194 Update compliance.yml
  data/compliance.yml
Labels: data, compliance

#193 Update malware.yml
  data/malware.yml
Labels: data

#195 Create toolkit
  data/toolkit
Labels: data

#196 Create ros
  data/ros
Labels: data

#197 Update image-builder.yml
  data/image-builder.yml
  data/insights.yml
Labels: data, insights

#198 Update vulnerability.yml
  data/vulnerability.yml
Labels: data, vulnerability

#199 Update inventory.yml
  data/inventory.yml
Labels: data, inventory
