Repository RedHatInsights/pendo-config-automation, pull requests merged in 2023-10, with the labels that each got.

#246 fix image builder wizard
  data/image-builder.yml
Labels: data

#248 add iam pages
  data/iam.yml
  data/main.yml
  data/rbac.yml
  data/settings.yml
Labels: data, rbac, settings

#247 Update inventory.yml
  data/inventory.yml
Labels: data, inventory
