Repository RedHatInsights/pendo-config-automation, pull requests merged in 2023-06, with the labels that each got.

#231 MGMT-14467: Add Pendo tracking to PowerPC and System/390 options inside console dot
  data/openshift.yml
Labels: data, openshift

#232 Update insights.yml
  data/insights.yml
Labels: data, insights

#233 Update cost-management.yml
  data/cost-management.yml
Labels: data, cost-management

#234 Update malware.yml
  data/malware.yml
Labels: data

#235 Update tasks.yml
  data/tasks.yml
Labels: data

#236 Update insights.yml
  data/insights.yml
Labels: data, insights

#238 Update ros.yml
  data/ros.yml
Labels: data

#239 Update cost-management.yml
  data/cost-management.yml
Labels: data, cost-management

#230 Update image-builder.yml
  data/image-builder.yml
Labels: data

#240 Update compliance.yml
  data/compliance.yml
  data/remediations.yml
Labels: data, compliance, remediations
