Repository RedHatInsights/pendo-config-automation, pull requests merged in 2024-11, with the labels that each got.

#281 Remove Insights Drift application
  .github/labeler.yml
  data/crc.yml
  data/drift.yml
  data/main.yml
  mapping/bundle_to_groups.yml
  stash/crc_stash.yml
  stash/drift_stash.yml
Labels: stash, data, crc, drift

#282 Update inventory.yml
  data/inventory.yml
Labels: data, inventory

#280 Update inventory.yml
  data/inventory.yml
Labels: data, inventory

#277 Subscriptions paths changes
  data/subscriptions.yml
Labels: data

#279 Update inventory.yml
  data/inventory.yml
Labels: data, inventory

#260 Update advisor.yml
  data/advisor.yml
Labels: data, advisor

#245 Add image provisioning wizard
  data/image-builder.yml
Labels: data

#242 Track Manage columns in Vuln & Compliance
  data/compliance.yml
  data/vulnerability.yml
Labels: data, compliance, vulnerability

#283 Stash bump
  stash/advisor_stash.yml
  stash/compliance_stash.yml
  stash/image-builder_stash.yml
  stash/inventory_stash.yml
  stash/vulnerability_stash.yml
Labels: stash
