Repository RedHatInsights/pendo-config-automation, pull requests merged in 2024-01, with the labels that each got.

#250 Update image-builder.yml
  data/image-builder.yml
Labels: data

#251 Update image-builder.yml
  data/image-builder.yml
Labels: data

#253 Update drift.yml
  data/drift.yml
Labels: data, drift

#254 Change app name
  data/subscription-services.yml
Labels: data

#257 Update policies.yml
  data/policies.yml
Labels: data, policies

#256 Update rbac.yml
  data/rbac.yml
Labels: data, rbac
